.nav {
    position: fixed;
    z-index: 30;
}

.menuToggle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    height: 8vh;
    width: 8vh;
    right: 1.5rem;
    top: 2rem;
    background-color: #EBFF00;
    z-index: 1;
    
    -webkit-user-select: none;
    user-select: none;
}

.menuToggle a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}

.menuToggle a:hover {
    color: tomato;
}

.menuToggle input {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    /* hide this */
    opacity: 0; 
    /* and place it over the hamburger */
    z-index: 2; 

    -webkit-touch-callout: none;
}

/* Just a quick hamburger */
.menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #000;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}

.menuToggle span:first-child {
    transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/* Transform all the slices of hamburger into a crossmark. */
.menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

/* But let's hide the middle one. */
.menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/* Ohyeah and the last one should go the other direction */
.menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

/* Make this absolute positioned at the top left of the screen */
 .menu {
    position: fixed;
    width: 25vw;
    height: 100vh;
    padding: 50px;
    padding-top: 125px;
    top: 0;
    /* 將 right 設為負值，預設隱藏在畫面外 */
    right: -25vw; 

    background: #fff;
    list-style-type: none;
    /* to stop flickering of text in safari */
    -webkit-font-smoothing: antialiased;

    /* 將 transform-origin 設為右上角 */
    transform-origin: 100% 0%; 
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

.menu li {
    padding: 15px 0;
}


/* And let's slide it in from the left when the checkbox is checked */
.menuToggle input:checked ~ .menu {
    /* 移動選單至畫面內 */
    transform: translate(-25vw, 0); 
}

@media screen and (max-width : 768px) {
    .menu {
        right: -100vw;
        width: 100vw;
    }
    /* 移動選單至畫面內 */
    .menuToggle input:checked ~ .menu {
        transform: translate(-100vw, 0); 
    }
}